html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 600px;
}

main {
    display: flex;
}

.menu {
    background-color: gray;
    height: 600px;
    width: 100px;
    position: relative;
    right: 8px
}

#tutup {
    margin: 5px 0 0 35px
}

.pilihSegitiga {
    margin: 0 0 0 0;
}

.pertanyaan {
    margin: 30px 0 0 350px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    height: 242px;
}

.bangunRuang {
    margin: 0 0 0 420px;
}

#a {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 59px;
    left: 21px;
    margin: 0 0 0 387px;
}

#inputTinggi {
    position: relative;
    top: 140px;
    width: 35px;
    margin: 0 0 0 370px
}

#inputAlas {
    position: relative;
    bottom: 148px;
    right: 11px;
    width: 35px;
    margin: 10px 0 0 185px
}

#tandaTanya {
    margin: 0 0 0 0;
    width: 0;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 167px;
    left: 180px;
}

#b {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    right: 16px;
    bottom: 88px;
}

#c {
    margin: 0 0 0 0;
    width: 0;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 137px;
    left: 404px;
}

#tombol {
    position: relative;
    right: 64px;
    bottom: 100px;
}

#hasil {
    height: 100px;
    width: 2000px;
    font-size: 24px;
    position: relative;
    top: 600px;
    right: 400px;
    border-radius: 10px 10px 10px 10px;
    margin: -580px 0 0 400px;
    padding: 0 0 0 5px;
    width: 1320px;
}

#jawaban {
    height: 40px;
    width: 120px;
    position: relative;
    right: 90px;
    bottom: 70px;
}

#info {
    font-size: 25px;
    padding: 0 0 0 5px;
}
