html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 600px;
}

main {
    display: flex;
}

.menu {
    background-color: gray;
    height: 600px;
    width: 100px;
    position: relative;
    right: 8px
}

#tutup {
    margin: 5px 0 0 35px
}

.pertanyaan {
    margin: 30px 0 0 350px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#segitiga {
    height: 102px;
    width: 100px;
}

.bangunRuang {
    margin: 0 0 0 420px;
}

#a {
    margin: 0 0 0 0;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 50px;
    left: 405px;
}

#b {
    margin: 0 0 0 0;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    right: 17px;
    bottom: 120px;
}

#c {
    margin: 0 0 0 0;
    width: 0;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom:145px;
    left: 404px;
}

#tandaTanya {
    margin: 0 0 0 0;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 225px;
    left: 180px;
}

#tinggiSegitiga {
    position: relative;
    top: 160px;
    left: 371px;
    width: 35px;
}

#panjangAlas {
    position: relative;
    bottom: 153px;
    left: 170px;
    width: 35px;
    margin: 0 0 0 0;
}

#tombol {
    width: 100px;
    height: 50px;
    position: relative;
    top: 470px;
    right: 335px;
}

#hasil {
    height: 100px;
    width: 2000px;
    font-size: 24px;
    position: relative;
    top: 600px;
    right: 400px;
    border-radius: 10px 10px 10px 10px;
    margin: -580px 0 0 400px;
    padding: 0 0 0 5px;
    width: 1320px;
}

#jawaban {
    height: 40px;
    width: 120px;
    position: relative;
    right: 90px;
    bottom: 70px;
}

#info {
    font-size: 25px;
    padding: 0 0 0 5px;
}
