main {
    display: flex;
}

.menu {
    background-color: gray;
    height: 600px;
    width: 100px;
}

.pertanyaan {
    margin: 30px 0 0 350px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    height: 242px;
}

.bangunRuang {
    margin: 0 0 0 420px;
}

#a {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 45px;
    left: 21px;
    margin: 0 0 0 387px;
}

#inputTinggi {
    position: relative;
    top: 140px;
    width: 30px;
    margin: 0 0 0 378px
}

#inputAlas {
    position: relative;
    bottom: 144px;
    right: 11px;
    width: 30px;
    margin: 0 0 0 185px
}

#tandaTanya {
    margin: 0 0 0 0;
    width: 0;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 167px;
    left: 180px;
}

#b {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    right: 16px;
    bottom: 88px;
}

#c {
    margin: 0 0 0 0;
    width: 0;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 137px;
    left: 404px;
}

#hasil {
    height: 100px;
    width: 2000px;
    font-size: 24px;
    position: relative;
    top: 600px;
    right: 400px;

}